*.swp
npm-debug.log
.idea/*
npm-debug.log
node_modules/*
ios/Pods/*
ios/build/ModuleCache/*
ios/build/Build/*
ios/connoisseurIOSanto.xcworkspace/*
ios/connoisseuriOS.xcworkspace/xcuserdata/milk.xcuserdatad/*
ios/connoisseuriOS.xcworkspace/xcuserdata/milk.xcuserdatad/UserInterfaceState.xcuserstate
